.link-inicio {
  text-align: center;
  display: block;
  width: 100%;
  padding: 30px;
  border: none;
  background-color: #863131;
  border-radius: 7px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700; 
  color:rgb(250, 250, 220);
}
